.delete {
background-color: transparent;
border: transparent;
}

.edit {
background-color: transparent;
}

.przyc {
    color: white;
    border-color: white;
    background-color:transparent;
}       